body {
    margin: 0;
}

.div1, .div2, .div3 {
    height: 100vh;
}

.div2 {
    height: 300vh;
}

.div1 {
    background-color: pink;
}

.div2 {
    background-color: salmon;
}

.div3 {
    background-color: lightblue;
}

.square {
    width: 150px;
    height: 150px;
    background-color: magenta;
}

.square2 {
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: 1px solid blue;
}

.box-red {
    background-color: red;
}