* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    background-color: black;
    transition: all 1s linear;
}

.white-bg {
    background-color: white;
}

.black-bg {
    background-color: black;
}

#section-intro {
    /* background-color: black; */
    height: 300vh;
}

#prologue {
    /* background-color: black; */
    height: 300vh;
}

#prologue-moon {
    margin-top: 150vh;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    height: 40vw;
    border: 2px solid white;
    border-radius: 50%;
}

.moon {
    margin-top: 150vh;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    height: 40vw;
    border: 2px solid white;
    border-radius: 50%;    
}

#section-act-1 {
    height: 300vh;
}

#section-act-2 {
    height: 300vh;
}

#section-act-3 {
    height: 300vh;    
}

#section-act-4 {
    height: 300vh;
}

#section-outro {
    height: 300vh;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    color: gray;
    text-align: center;
    font-size: 3rem;
}

#timeline {
    height: 50px;
    background-color: black;
    position: sticky;
    top: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.starfield {
    width: 100%;
    height: auto;
}

